/* Jacket-detail-product page, it will look different then original at home page */

/* Mobile screen */
@media (max-width: 820px) {
  .detail-container-div {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    background: white;
  }

  .jacket-image-div {
    margin: auto;
    margin-top: 1px;
    max-width: 400px;
    height: auto;
    width: 100%;
    background-size: cover;
  }

  img {
    margin: auto;
    max-width: 400px;
    width: 80%;
    height: auto;
    display: flex;
  }

  .text-container {
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

  .detail-brand-text {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .money {
    margin-left: 20px;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  .add-to-cart-button {
    margin: auto;
    background-color: lightgrey;
    border-style: solid;
    border-color: grey;
    border-radius: 25px;
    border-width: 2px;
    max-width: 120px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
  }

  .product-button {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    background-color: rgb(209, 161, 103);
  }

  .product-link-text {
    font-size: 20px;
    color: black;
  }

  .product-options {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    margin-bottom: 30px;
  }
}

/* desktop screen */
@media (min-width: 821px) {
  .detail-container-div {
    margin: 0 auto;
    max-width: 850px;
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    background: white;
    display: flex;
  }

  .image-div {
    margin: auto;
    width: 400px;
    height: auto;
    margin-top: 5px;
    margin-left: 1px;
    padding-right: 1px;
    display: block;
  }

  img {
    width: 100%;
    height: 90%;
  }

  .text-container {
    margin: auto;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    align-items: start;
  }

  .detail-brand-text {
    max-width: 300px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .money {
    margin: auto;
    display: inline-block;
    margin-right: 20px;
  }

  .add-to-cart-button {
    margin: auto;
    background-color: lightgrey;
    border-style: solid;
    border-color: grey;
    border-radius: 25px;
    border-width: 2px;
    max-width: 130px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: black;
  }

  .add-to-cart-button:hover {
    text-decoration: none;
  }

  .product-options {
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    margin-bottom: 30px;
  }
}
